html {
    position: relative;
    min-height: 100%;
}

header {
    position: relative;
    display: block;
    max-width: 100%;
    height: 2rem;
    margin: 0 auto;
    padding: 1rem 5rem;
    background: #ffffff;
    color: #fff;
    border-bottom: solid #cccccc;
/*    border-bottom-style: solid;
    border-bottom-color: #cccccc;*/
}

header h1 {
    line-height: 24px;
    font-size: 2rem;
    font-weight: 800;
    padding: 1.2rem 5rem;
    margin: 0;
    display: inline;
    background: #4aaaa5;
}

#main h2 {
    color: #4aaaa5;
    border-bottom: solid #cccccc;
}

nav {
    line-height: 24px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
    display: inline;
}

nav li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    font-family: Georgia, Times, serif;
    color: #777777;
    padding: 0 2rem;
}

header nav ul a li:hover {
    text-decoration: underline;
}

#main {
    width: 960px;
    margin: 0 auto;
}

#mainContent {
    width: 620px;
    float: left;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 1rem;
    background: white;
}

#mainContent h2 {
    font-size: 18pt;
    font-weight: 700;
    padding: 6pt;
}

#mainContent p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 18pt
    padding: 12pt;
    margin: 6pt;
}

#mainContent img {
    padding: 6pt;
    margin: 6pt;
    overflow: auto;
}

#mainContent form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 6pt;
    line-height: 24pt;
}

#mainContent form input {
    margin-bottom: 6pt;
    line-height: 20pt;
    width: 100%;
}

#mainContent form textarea {
    width: 100%;
}

#button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}

#button:hover {
    cursor: pointer;
}

#sidebar {
    width: 260px;
    float: left;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    display: inline;
    list-style-type: none;
    background: white;
    color: #4aaaa5;
}

#sidebar h2 {
    font-size: 18pt;
    font-weight: 700;
    padding: 6pt;
}

#sidebar ul {
    width: 90%;
    margin: 0 auto;
    padding: 12pt;
}

#sidebar ul a:hover {
    opacity: .5;
}

.image {
    position: relative;
    float: left;
}

h3 {
    position: absolute;
    top: 150px;
    left: 16px;
}

h3 span {
    color: white;
    font: bold 18pt/45px 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 275px;
    margin: 0 auto;
    letter-spacing: -1px;
    background: #4aaaa5;
    padding: 14px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    color: lightgrey;
    background: #666666;
    border-top: solid 4px #4aaaa5;
}

body {
    /*background-image: assets/images/cork-wallet.png;*/
    background: lightgrey;
    margin: 0 0 50px;
}